.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
    background-color: #696969;
    color: white;

    p{
        margin: 20px 0;
    }

    h4{
        cursor: pointer;
    }

    &_block{
        display: flex;
        align-items: center;
        gap: 40px;
    }
}

.container{
    display: flex;

    &_list{

        &_buttons{
            display: flex;
            padding: 40px 60px;
            gap: 50px;
            
            h3{
                color: grey;
                font-weight: bold;
            }
        }

        &_users{
            padding: 0 20px;

            &_block{
                cursor: pointer;
                margin-bottom: 20px;
                width: 400px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                padding: 10px 20px;
                border: 2px solid grey;
                border-radius: 20px;
            }
        }
    }

    &_block {
        margin: 100px;
        width: 100%;
        border: 2px solid grey;
        border-radius: 20px;
        max-height: 660px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        &_text {
            padding: 0 20px;
            flex: 1; 
            display: flex;
            flex-direction: column; 
            max-height: 500px; 
            overflow-y: auto; 
    
            &_admin, &_user {
                display: flex;
                flex-direction: column;
    
                &_message { 
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    max-width: 600px;
                    background-color: #D4EFDF;
                    padding: 10px 20px;
                    border-radius: 10px;
                    margin: 5px 0;

                    P{
                        color: #696969;
                        font-size: 10px;
                    }
                }
            }
    
            &_admin_message {
                align-self: flex-end;
            }
    
            &_user_message {
                align-self: flex-start;
            }
        }
    
    
        &_title{
            padding: 10px 20px;
            background-color: lightgrey;
            border-bottom: 2px solid grey;
            border-radius: 20px 20px 0 0;
        }

        &_input{
            display: flex;
            align-items: flex-end;
            margin: 20px;
            gap: 20px;

            img{
                cursor: pointer;
            }

            input{
                width: 100%;
                height: 30px;
                color: grey;
                padding: 10px;
                border : 1px solid lightgrey;
                border-radius: 10px;
            }
        }
    }
}